#app
fastapi==0.99.1
uvicorn
pydantic
email-validator
python-multipart
#db
databases[postgresql]
SQLAlchemy
alembic
psycopg2-binary
#dev
pytest
pytest-asyncio
httpx
asgi-lifespan
#auth
pyjwt
passlib[bcrypt]

